.experienceImage {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.alignTextCenter {
  /*  */
}

/* Media query for small screens (sm) */
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .experienceImage {
    max-width: 350px;
  }
  .alignTextCenter {
    text-align: center;
  }
}

/* Media query for medium screens (md) */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .experienceImage {
    max-width: 350px;
  }
}
