name: Docker Build Test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  test-docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Test Docker Build
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          tags: test-build:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
